02. 자료형

In [2]:
# 변수 선언과 할당 
pi = 3.14159265
r = 10

# 변수 참조
print("원주율 =", pi)
print("반지름 =", r)
print("원의 둘레 =", 2 * pi * r)
print("원의 넓이 =", pi * r * r)

원주율 = 3.14159265
반지름 = 10
원의 둘레 = 62.831853
원의 넓이 = 314.159265

In [7]:
# 문자열 복합 대입 연산자 예제 
string = "안녕하세요"
string += "!"
string += "!"
print("string:", string)

string: 안녕하세요!!

In [10]:
# 문자열 복합 대입 연산자 예제 
string = "안녕하세요"
string *= 3
print("string:", string)

string: 안녕하세요안녕하세요안녕하세요

In [16]:
# 입력을 받습니다. 
string = input("입력> ")

# 출력합니다. 
print("자료:", string)
print("자료형:", type(string)) # input() 함수는 사용자가 무엇을 입력해도 결과는 무조건 문자열 자료형으로 출력

자료: 52273
자료형: <class 'str'>

In [15]:
# 입력을 받습니다. 
string = input("입력> ")

# 출력합니다. 
print("자료:", string)
print("자료형:", type(string))

자료: True
자료형: <class 'str'>

In [17]:
# 입력을 받습니다. 
string = input("입력> ")

# 출력합니다. 
print("입력 + 100:", string + 100) # input() 함수로 입력받은 자료는 모두 문자열로 저장되므로 오류 발생

TypeError: can only concatenate str (not "int") to str

In [18]:
string_a = input("입력A> ")
int_a = int(string_a) # 문자열을 int 자료형으로 전환 

string_b = input("입력B> ")
int_b = int(string_b)

print("문자열 자료:", string_a + string_b) # 문자열 연결
print("숫자 자료:", int_a + int_b) # 덧셈

문자열 자료: 27352
숫자 자료: 325

In [19]:
# inch 단위를 cm 단위로 변경하기

# 숫자를 입력 받습니다. 
raw_input = input("inch 단위의 숫자를 입력해주세요:")

# 입력받은 데이터를 숫자 자료형으로 변경하고, cm 단위로 변경합니다. 
inch = int(raw_input)
cm = inch * 2.54

# 출력합니다 .
print(inch, "inch는 cm 단위로", cm, "cm입니다.")

27 inch는 cm 단위로 68.58 cm입니다.

In [23]:
# swap
a = input("문자열 입력> ")
b = input("문자열 입력> ")

print(a, b)
c = a
a = b
b = c 
print(a, b)

안녕하세요 아침입니다
아침입니다 안녕하세요

In [25]:
# format 함수로 숫자를 문자열로 변환하기
string_a = "{}".format(10)

# 출력하기
print(string_a)
print(type(string_a))

10
<class 'str'>

In [30]:
# format() 함수로 숫자를 문자열로 변환하기
format_a = "{}만 원".format(5000)
format_b = "파이썬 열공하여 첫 연봉 {}만 원 만들기".format(5000)
format_c = "{} {} {}".format(3000, 4000, 5000)
format_d = "{} {} {}".format(1, "문자열", True)

# 출력하기
print(format_a)
print(format_b)
print(format_c)
print(format_d)

5000만 원
파이썬 열공하여 첫 연봉 5000만 원 만들기
3000 4000 5000
1 문자열 True

In [34]:
# 정수를 특정 칸에 출력하기
output_a = "{:d}".format(52)
output_b = "{:5d}".format(52)
output_c = "{:10d}".format(52)
output_d = "{:05d}".format(52)
output_e = "{:05d}".format(-52)

print("# 기본")
print(output_a)
print("# 특정 칸에 출력하기")
print(output_b)
print(output_c)
print("# 빈칸을 0으로 채우기")
print(output_d)
print(output_e)

# 기본
52
# 특정 칸에 출력하기
   52
        52
# 빈칸을 0으로 채우기
00052
-0052

In [ ]:
# 기호 붙여 출력하기 
output_f = "{:+d}".format(52)
output_g = "{:+d}".format(-52)
output_h = "{: d}".format(52) # 기호 부분 공백 
output_i = "{: d}".format(-52)

print("# 기호와 함께 출력하기")
print(output_f)
print(output_g)
print(output_h)
print(output_i)

# 기호와 함께 출력하기
+52
-52
 52
-52

In [2]:
# 정수 출력 조합하기 
output_h = "{:+5d}".format(52)
output_i = "{:+5d}".format(-52)
output_j = "{:=+5d}".format(52) # 기호를 앞으로 밀기 
output_k = "{:=+5d}".format(-52) 
output_l = "{:+05d}".format(52) # 0으로 채우기 
output_m = "{:+05d}".format(-52)

print("# 조합하기")
print(output_h)
print(output_i)
print(output_j)
print(output_k)
print(output_l)
print(output_m)

# 조합하기
  +52
  -52
+  52
-  52
+0052
-0052

In [3]:
# 다양한 형태의 부동 소수점 출력하기
output_a = "{:f}".format(52.273)
output_b = "{:15f}".format(52.273)
output_c = "{:+15f}".format(52.273)
output_d = "{:+015f}".format(52.273)

print(output_a)
print(output_b)
print(output_c)
print(output_d)

52.273000
      52.273000
     +52.273000
+0000052.273000

In [ ]:
# 소수점 아래 자릿수 지정하기
# 자동으로 반올림 수행 
output_a = "{:15.3f}".format(52.273)
output_b = "{:15.2f}".format(52.273)
output_c = "{:15.1f}".format(52.273)

print(output_a)
print(output_b)
print(output_c)

         52.273
          52.27
           52.3

In [5]:
# 의미 없는 소수점 제거하기
output_a = 52.0
output_b = "{:g}".format(output_a)
print(output_a)
print(output_b)

52.0
52

In [ ]:
# 문자열 양 옆의 공백 제거하기
input_a = """
     안녕하세요
문자열의 함수를 알아봅니다
"""

print(input_a)
print(input_a.strip()) # print() 함수는 기본적으로 '출력 후 줄바꿈(\n)'을 자동으로 수행

     안녕하세요
문자열의 함수를 알아봅니다

안녕하세요
문자열의 함수를 알아봅니다

In [ ]:
# 문자열의 구성 파악하기
print("TrainA10".isalnum()) # 문자열이 알파벳 또는 숫자로만 구성되어 있는지 확인
print("10".isdigit()) # 문자열이 숫자로 인식될 수 있는 것인지 확인

True
True

In [12]:
# 문자열 찾기
output_a = "안녕안녕하세요".find("안녕") # 왼쪽부터 찾아서 처음 등장하는 위치 
output_b = "안녕안녕하세요".rfind("안녕") #오른쪽부터 찾아서 처음 등장하는 위치 

print(output_a)
print(output_b)

0
2

In [15]:
# 문자열 내부의 문자열 확인
print("안녕" in "안녕하세요")
print("잘자" in "안녕하세요")

True
False

In [14]:
# 문자열 자르기 
a = "10 20 30 40 50".split(" ") # 공백(띄어쓰기) 기준으로 자르기
print(a) # list형태로 출력

['10', '20', '30', '40', '50']

f-문자열보다 format()함수를 사용하는 것이 더 좋은 경우
1. 문자열 내용이 너무 많을 때 
2. 데이터를 리스트에 담아서 사용할 때

In [31]:
# 데이터를 리스트에 담아서 사용할 때
# f-문자열 사용
data = ['별', 2, 'M', '서울특별시 강서구', 'Y']
f"""이름: {data[0]}
나이: {data[1]}
성별: {data[2]}
지역: {data[3]}
중성화 여부: {data[4]}"""

'이름: 별\n나이: 2\n성별: M\n지역: 서울특별시 강서구\n중성화 여부: Y'

In [32]:
# format() 함수 사용
data = ['별', 2, 'M', '서울특별시 강서구', 'Y']
"""이름: {}
나이: {}
성별: {}
지역: {}
중성화 여부: {}""".format(*data) # 전개 연산자 사용

'이름: 별\n나이: 2\n성별: M\n지역: 서울특별시 강서구\n중성화 여부: Y'

In [36]:
"{} {} {}".format(52,type(273)) # {} 기호의 개수가 format() 함수의 매개변수 개수보다 많으면 예외 발생

IndexError: Replacement index 2 out of range for positional args tuple

In [ ]:
"{}".format(52,273) # 적을 때는 정상 동작

'52'

In [ ]:
a = input("> 1번째 숫자: ")
b = input("> 2번째 숫자: ")
print()

print("{} + {} = {}".format(a, b, int(a)+int(b))) # input()으로 입력받은 숫자는 문자열이므로 숫자 변환 필요

100 + 200 = 300

In [42]:
string = "Hello"

# string.upper()를 실행하고, string 출력하기
string.upper()
print("A 지점:", string) # 원본 변수는 바뀌지 않음 

# string.upper() 실행하기
print("B 지점:", string.upper())

A 지점: Hello
B 지점: HELLO

In [49]:
# 도전 문제 01. 구의 부피와 겉넓이 
pi = 3.141592
r = float(input("구의 반지름을 입력해주세요: ")) # input()으로 입력받은 숫자는 문자열이므로 실수 변환 필요 
v = (4/3) * pi * r * r * r
s = 4 * pi * r * r

print(f"= 구의 부피는 {v}입니다.")
print(f"= 구의 겉넓이는 {s}입니다.")

= 구의 부피는 523.5986666666666입니다.
= 구의 겉넓이는 314.1592입니다.

In [51]:
# 도전 문제 02. 피타고라스의 정의
a = float(input("밑변의 길이를 입력해주세요: "))
b = float(input(" 높이의 길이를 입력해주세요: "))
c = ((a ** 2) + (b ** 2)) ** (0.5)

print(f"= 빗변의 길이는 {c}입니다.")

= 빗변의 길이는 5.0입니다.